:root {
	/* hex colors */
	--color-base: #ffffff;
	--color-ultraLow: #f4f4f4;
	--color-low: #e8e8e8;
	--color-mid: #bcbcbc;
	--color-high: #7b7b7b;
	--color-ultraHigh: #404040;
	--color-accent: #000000;

	/* RGB */
	--color-base-rgb: 255, 255, 255;
	--color-ultraLow-rgb: 244, 244, 244;
	--color-low-rgb: 232, 232, 232;
	--color-mid-rgb: 188, 188, 188;
	--color-high-rgb: 123, 123, 123;
	--color-ultraHigh-rgb: 64, 64, 64;
	--color-accent-rgb: 0, 0, 0;

	--spacing-3: 3px;
	--spacing-6: 6px;
	--spacing-12: 12px;
	--spacing-24: 24px;
	--spacing-48: 48px;

	--transparent: transparent;

	--font-body: sans-serif;
	--font-serif: serif;

	--font-size-sm: 14px;
	--font-size-normal: 16px;
	--font-size-lg: 18px;
	--font-size-xl: 20px;

	--font-weight-400: 400;
	--font-weight-500: 500;
	--font-weight-600: 600;
	--font-weight-700: 700;

	--border-radius: var(--spacing-24);
	--border: 1px solid var(--color-low);
	--blur: 3px;

	/* --max-width: 498px; */
	--max-width: 1440px;
	--content-width: 1044px;
}

html {
	line-height: 1.25;
	-webkit-text-size-adjust: 100%;
	overflow-wrap: anywhere;
}

body {
	margin: 0;
	padding: 0;
	font-family: var(--font-body);
	line-height: 1.25;
	font-weight: var(--font-weight-400);
	font-size: var(--font-size-normal);
	color: var(--color-ultraHigh);
	background-color: var(--color-accent);
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	font: inherit;
}

ul,
ol {
	margin-left: var(--spacing-24);
}

a {
	color: var(--color-ultraHigh);
	text-decoration: none;
	position: relative;
	border-bottom: 2px solid var(--color-ultraHigh);
}

img,
picture,
video {
	display: block;
	max-width: 100%;
	border-style: none;
}

svg {
	fill: var(--color-ultraHigh);
}

h1 {
	font-size: 30px;
	line-height: 1.2;
	font-weight: var(--font-weight-400);
	padding: 0;
	margin: 0;
}

h2 {
	font-size: 24px;
	line-height: 1.25;
	font-weight: var(--font-weight-400);
	padding: 0;
	margin: 0;
}

h3 {
	font-size: var(--font-size-normal);
	font-weight: var(--font-weight-700);
	padding: 0;
	margin: 0;
}

.text-title {
	font-weight: var(--font-weight-700);
	font-size: var(--font-size-lg);
	line-height: 24px;
}

.text-lg {
	font-size: var(--font-size-lg);
	line-height: 24px;
}

.text-normal {
	font-size: var(--font-size-normal);
	line-height: 20px;
	font-weight: 400;
}

.text-sm {
	font-size: var(--font-size-sm);
	line-height: 16px;
}

.text-serif {
	font-family: serif;
}

.text-italic {
	font-style: italic;
}

.text-bold {
	font-weight: 700;
}

/* section {
	padding: var(--spacing-24);
	display: flex;
	gap: var(--spacing-24);
	flex-direction: column;

	.section-header {
		margin-bottom: 48px;
	}

	&#trynow {
		.buttons {
			margin-top: 36px;
		}
	}
} */
